---
import BaseLayout from "@/layouts/BaseLayout.astro";

import { Button } from "@/components/ui/button";
---

<BaseLayout
	title="Never Met 'Em"
	description="404 Error — this page was not found"
>
	<section
		class="flex flex-col items-center justify-center px-8 py-32 gap-8 sm:gap-16"
	>
		<h1 class="text-xl font-medium scroll-m-20 lg:text-5xl">Huh, weird!</h1>
		<a href="/" rel="noreferrer">
			<Button>Go back home</Button>
		</a>
	</section>
</BaseLayout>
