---
import { buttonVariants } from "@/components/ui/button";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { Image } from "astro:assets";
---

<header
	class="flex justify-between items-center px-8 py-8 bg-background w-full sticky top-0 z-50 outline outline-muted"
>
	<a href="/" class="flex items-center space-x-4 group">
		<Image
			src="/src/images/jeff-anders-photo.jpg"
			alt="Jeff Anders avatar"
			class="w-8 h-8 rounded-xs"
			width={32}
			height={32}
		/>
		<h1 class="font-semibold group-hover:underline">Jeff Anders</h1>
	</a>
	<nav class="flex space-x-2">
		<ul class="flex space-x-1">
			<li>
				<a
					class={`${buttonVariants({ variant: "link" })} nav-link`}
					href="/#teams"
					data-section="teams"
				>
					<span class="animated-underline">Teams</span>
				</a>
			</li>
			<li>
				<a
					class={`${buttonVariants({ variant: "link" })} nav-link`}
					href="/#projects"
					data-section="projects"
				>
					<span class="animated-underline">Projects</span>
				</a>
			</li>
			<li>
				<a
					class={`${buttonVariants({ variant: "link" })} nav-link`}
					href="/#talks"
					data-section="talks"
				>
					<span class="animated-underline">Talks</span>
				</a>
			</li>
			<li>
				<a
					class={`${buttonVariants({ variant: "link" })} nav-link`}
					href="/#lists"
					data-section="lists"
				>
					<span class="animated-underline">Lists</span>
				</a>
			</li>
			<li>
				<a
					class={`${buttonVariants({ variant: "link" })} nav-link`}
					href="/#contact"
					data-section="contact"
				>
					<span class="animated-underline">Contact</span>
				</a>
			</li>
		</ul>
		<ThemeToggle />
	</nav>
</header>

<script>
	import { initActiveSection } from "@/scripts/activeSection";
	initActiveSection();
</script>
