---
import { buttonVariants } from "@/components/ui/button";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { Image } from "astro:assets";
import avatarImage from "../images/jeff-anders-photo.jpg";

const navItems = [
	{ label: "Teams", href: "/#teams" },
	{ label: "Projects", href: "/#projects" },
	{ label: "Talks", href: "/#talks" },
	{ label: "Lists", href: "/#lists" },
	{ label: "Contact", href: "/#contact" },
] as const;
---

<header
	class="sticky top-0 z-50 flex items-center justify-between w-full px-8 py-8 bg-background outline outline-muted"
>
	<a href="/" class="flex items-center space-x-4 group">
		<Image
			src={avatarImage}
			alt="Jeff Anders avatar"
			class="w-8 h-8 rounded-xs"
			width={32}
			height={32}
		/>
		<h1 class="font-semibold group-hover:underline">Jeff Anders</h1>
	</a>
	<nav class="flex space-x-2">
		<ul class="flex space-x-1">
			{
				navItems.map(({ href, label }) => (
					<li>
						<a
							class={`${buttonVariants({ variant: "link" })} nav-link `}
							href={href}
							data-section={href.replace("/#", "")}
						>
							<span class="font-medium animated-underline">{label}</span>
						</a>
					</li>
				))
			}
		</ul>
		<ThemeToggle />
	</nav>
</header>

<script>
	import { initActiveSection } from "@/scripts/activeSection";
	initActiveSection();
</script>
