---
import { buttonVariants } from "@/components/ui/button";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { Image } from "astro:assets";
---

<header
	class="flex justify-between items-center px-8 py-8 border-b border-muted"
>
	<a href="/" class="flex items-center space-x-4 group">
		<Image
			src="/src/images/jeff-anders-photo.jpg"
			alt="Jeff Anders avatar"
			width={32}
			height={32}
			class="w-8 h-8 rounded-sm"
			inferSize
		/>
		<h1 class="font-medium group-hover:underline">Jeff Anders</h1>
	</a>
	<nav class="flex space-x-2">
		<ul class="flex space-x-1">
			<li>
				<a class={buttonVariants({ variant: "link" })} href="#teams">Teams</a>
			</li>
			<li>
				<a class={buttonVariants({ variant: "link" })} href="#projects"
					>Projects</a
				>
			</li>
			<li>
				<a class={buttonVariants({ variant: "link" })} href="#talks">Talks</a>
			</li>
			<li>
				<a class={buttonVariants({ variant: "link" })} href="#lists">Lists</a>
			</li>
			<li>
				<a class={buttonVariants({ variant: "link" })} href="#contact"
					>Contact</a
				>
			</li>
		</ul>
		<ThemeToggle />
	</nav>
</header>
