---
import Tile from "./Tile.astro";

/*
  Expects a prop `lists`, an array of objects from the 'lists' collection.
  Each list object contains:
    - data: an object with keys: title, brief, date, cover, external (optional)
    - slug: string (generated from the MDX file name)
*/
interface List {
	data: {
		title: string;
		date: string;
		icon?: string;
		external?: string;
	};
	slug: string;
}

const { lists }: { lists: List[] } = Astro.props as {
	lists: List[];
};

lists.sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<section id="lists">
	<div
		class="grid justify-center grid-cols-[repeat(auto-fit,minmax(18rem,1fr))]"
	>
		{
			lists.map((list) => {
				const fm = list.data;
				const link = fm.external ? fm.external : `/lists/${list.slug}`;

				return (
					<Tile
						href={link}
						target={fm.external ? "_blank" : undefined}
						icon={fm.icon ? { name: `lucide:${fm.icon}` } : undefined}
						title={fm.title}
						dense
					/>
				);
			})
		}
	</div>
</section>
