---
import { Icon } from "astro-icon/components";

import { Button } from "@/components/ui/button";
---

<Button variant="ghost" size="icon" id="themeToggle">
	<Icon name="lucide:sun" class="h-5 w-5 dark:hidden" />
	<Icon
		name="lucide:moon"
		class="hidden h-5 w-5 dark:block bg-foreground-muted"
	/>
	<span class="sr-only">Toggle theme</span>
</Button>

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
			return localStorage.getItem("theme");
		}
		return window.matchMedia("(prefers-color-scheme: dark)").matches
			? "dark"
			: "light";
	};

	// Initial theme setup
	const applyTheme = () => {
		const theme = getThemePreference();
		document.documentElement.classList[theme === "dark" ? "add" : "remove"](
			"dark"
		);
	};

	// Apply theme immediately
	applyTheme();

	// Handle theme changes
	document.addEventListener("astro:after-swap", applyTheme);

	// Theme toggle logic
	document.addEventListener("astro:page-load", () => {
		const themeToggle = document.getElementById("themeToggle");
		if (themeToggle) {
			themeToggle.addEventListener("click", () => {
				document.documentElement.classList.toggle("dark");
				localStorage.setItem(
					"theme",
					document.documentElement.classList.contains("dark") ? "dark" : "light"
				);
			});
		}
	});
</script>
