---
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import "@/styles/global.css";

export async function getStaticPaths() {
	const projects = await getCollection("projects");
	return projects.map((project) => ({
		params: { slug: project.id },
		props: { project },
	}));
}

const { project } = Astro.props as { project: CollectionEntry<"projects"> };
const { Content } = await render(project);
---

<BaseLayout
	title={project.data.title}
	description={project.data.description}
	ogImage={project.data.ogImage}
>
	<article
		class="flex flex-col px-8 py-16 mx-auto max-w-screen-lg gap-16 prose"
	>
		<h1 class="text-6xl font-medium">{project.data.title}</h1>
		<Content />
	</article>
</BaseLayout>
